body {
    background-color: #121212;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    display: block;
    max-width: 980px;
}

.container-video{
    margin: 0 auto;
    display: block;
    max-width: 980px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-content{
    flex-basis: 33%;
}


.container-video .card-content img{
    margin: 30px auto;
    display: block;
    height: 500px;
    width: 300px;
}

.container-video .card-content iframe{
    margin: 30px auto;
    display: block;
    height: 500px;
}

.container-video .card-content video{
    margin: 30px auto;
    display: block;
    height: 500px;
    width: 300px;
}

.container-header{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.card-header{
    display: flex;
    flex-direction: row;
    height: 350px;
    align-items: flex-end;
    position: relative;
    margin: 0 auto;
    max-width: 980px;
}


.card-header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: -80px;
    margin: 0 auto;
}

.card-header-img img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 10px;
    border: 5px solid #121212;
}

.card-header-text p{
    margin: 0 10px;
    font-size: 15px;
    font-weight: bold;
}

.card-header-text h1{
    margin-top: 70px;
    font-size: 22px;
    font-weight: bold;
}

.card-header-btn{
    bottom: -60px;
    position: absolute;
    right: 0;
}

.card-header-btn a{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    margin: 10px auto;
    display: block;
    text-decoration: none;
}

#btn-vermais{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    margin: 10px auto 40px auto;
    display: block;

}

#btn-vermais:hover{
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

@media screen and (max-width: 769px) {
    .card-header-btn{
        top: 5px;

    }
    .container-video{
        justify-content: center;
    }

    .container-video .card-content img{
        margin: 30px 20px;
    }
}